<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar</h1>
    <div class="btn-group mr-2">
      <%= link_to @item , class: 'btn btn-primary' do %>
          <%= fa_icon('search', text: 'Ver')%> 
        <% end %>
      <%= link_to items_path, class: 'btn btn-danger' do %>
          <%= fa_icon('list ', text: 'Volver')%> 
        <% end %>
    </div>
</div>
<%= render 'form', item: @item %>
