<div class="alert alert-warning"><%= fa_icon('exclamation-triangle')%> Al actualizarse una venta no se actualizarán las contidades del inventario, deberá hacerlo de manera manual.</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar</h1>
    <div class="btn-group mr-2">
      <%= link_to @sale , class: 'btn btn-primary' do %>
          <%= fa_icon('search', text: 'Ver')%> 
        <% end %>
      <%= link_to sales_path, class: 'btn btn-danger' do %>
          <%= fa_icon('list ', text: 'Volver')%> 
        <% end %>
    </div>
</div>

<%= render 'form', sale: @sale %>