<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Ventas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <%= form_tag(sales_path, method: :get, :class => 'form-inline') do %>
          <div class="input-group">
             <%= text_field_tag :term, params[:term], :class => "form-control", :placeholder => "Cliente, identificación tel..." %>
             <div class="input-group-append">
                <%= button_tag(type: 'submit', class: "btn btn-info") do %>
                    <%= fa_icon('search', text: 'Buscar',  class: "icon-white")%>
                <% end %>
             </div>
          </div>
        <% end %>
        <div class="col-auto">
      <div class="btn-group mr-2">
          
          <%= link_to new_sale_path, class: 'btn btn-success' do %>
              <%= fa_icon('star', text: 'Nueva Venta')%> 
            <% end %>
      </div>
        </div>
    </div>
</div>

<div class="table-responsive">
<table class="table table-striped table-sm ">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Teléfono</th>
      <th>Total</th>
      <th>Items</th>
      <th>Vendedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date %></td>
        <td><%= sale.customer_name %></td>
        <td><%= sale.customer_phone %></td>
        <td><%= sale.total_charge %></td>
        <td><%= sale.number_of_items %></td>
        <td><%= sale.user.email %></td>
          
        <td><%= link_to fa_icon('search'), sale, class: 'btn btn-primary btn-sm', :title => 'ver'  %></td>
        <td><%= link_to fa_icon('pencil-square-o'), edit_sale_path(sale), class: 'btn btn-warning btn-sm', :title => 'editar' %></td>
        <td><%= link_to fa_icon('trash-o'), sale, method: :delete, data: { confirm: '¿seguro?' }, class: 'btn btn-danger btn-sm', :title => 'borrar' %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
      <tr class="thead-light">
          <th class="text-center"colspan="10"> <span  > Total <%= @sales_found -%></span>
            <%= will_paginate @sales,  {:renderer => PaginationListLinkRenderer,:previous_label => fa_icon('arrow-left'), :next_label => fa_icon('arrow-right'), :class => "pagination justify-content-center"} %>
          </th>
      </tr>
  </tfoot>
</table>
