<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Detalles</h1>
    <div class="btn-group mr-2">
      <%= link_to edit_sale_path(@sale) , class: 'btn btn-warning' do %>
          <%= fa_icon('pencil-square-o', text: 'Editar')%> 
        <% end %>
      <%= link_to sales_path, class: 'btn btn-danger' do %>
          <%= fa_icon('list ', text: 'Volver')%> 
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <dl class="row">
          <dt class="col-sm-4">Fecha:</dt>
          <dd class="col-sm-8"><%= @sale.date %></dd> 
            
          <dt class="col-sm-4">Cliente:</dt>
          <dd class="col-sm-8"><%= @sale.customer_name %></dd>
            
          <dt class="col-sm-4">Identificación:</dt>
          <dd class="col-sm-8"><%= @sale.customer_identification %></dd>
            
          <dt class="col-sm-4">Teléfono:</dt>
          <dd class="col-sm-8"><%= @sale.customer_phone %></dd>
            
          <dt class="col-sm-4">Método de Pago:</dt>
          <dd class="col-sm-8"><%= @sale.payment_method %></dd>
            
          <dt class="col-sm-4">Observaciones:</dt>
          <dd class="col-sm-8"><%= @sale.comments %></dd>
            
          <dt class="col-sm-4">Vendedor:</dt>
          <dd class="col-sm-8"> <%= @sale.user.email %></dd>
            
        </dl>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
        <% for charge in @sale.charges%>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= charge.item.code %>-<%= charge.item.name %>
            <span class="badge badge-primary badge-pill"><%= number_to_currency charge.price %></span>
          </li>
        <% end%>
        </ul>
        <div class="alert alert-secondary" role="alert">
            <dl class="row">
              <dd class="col-sm-4 "><%= @sale.number_of_items  %><%= " items vendidos." %></dd> 
              <dt class="col-sm-3 strong">Total:</dt>
              <dd class="col-sm-5 "><%= number_to_currency @sale.total_charge %></dd> 
            </dl>
        </div>
    </div>
</div>
